.employee {
  width: 100%;
  height: auto;
  padding: 16px 6px;
}

.employee .table-container {
  width: 100%;
  padding: 20px 16px;
  box-shadow: 0 0 1px 0 black;
  border-radius: 4px;
}

.table-container h3 {
  color: forestgreen;
  margin-left: 12px;
  font-size: 22px;
}

.table-header {
  width: 100%;
  height: 46px;
  display: flex;
  position: relative;
}

.table-header .search-container {
  width: 50%;
  position: absolute;
  left: 0;
}

.table-header .search-icon {
  transform: translate(30px -50%);
  color: gray;
}

.table-header .search-input {
  padding-left: 32px;
  width: 260px;
  border-radius: 8px;
  height: 36px;
  background: white !important;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-left: 12px;
}

.table-header button,
.add-btn {
  padding: 12px 20px !important;
  position: absolute;
  right: 10px;
  border: none;
  outline: none;
  background-color: #007bff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 16px !important;
}

.add-btn:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  height: auto;
  text-align: left;
}

table thead tr {
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 10px -10px;
}
table thead th {
  padding: 12px;
}

table tbody tr {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 8px 10px -10px;
}
table td {
  padding: 12px;
}

table td img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 1px auto;
  transform: translateY(3px);
}

table tbody .table-actions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
}

table tbody td button,
table tbody td .add-btn-icn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 3px;
  background: aliceblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

table tbody td button:hover,
table tbody td .add-btn-icn:hover {
  background-color: rgba(17, 235, 17, 0.445);
}

.ecards .ecard {
  width: 100%;
  height: 140px;
  background: aliceblue;
  border-radius: 4px;
}

.ecards {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ecards .card-3 {
  width: 32.5%;
  height: auto;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.ecards .card-4 {
  width: 100%;
  height: auto;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: white;
  box-shadow: 0 0 1px 0 black;
  margin-bottom: 12px;
}

.ecards .card-left {
  width: 50px;
  height: 100px;
  position: relative;
}

.ecards .card-right {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.ecards .card-right p {
  position: absolute;
  right: 0;
  top: -47px;
  font-size: 17px;
}

.ecards .card-right h3 {
  position: absolute;
  right: 10px;
  top: -24px;
  font-size: 20px;
  color: black;
}

.ecards .card-icns {
  font-size: 40px;
  position: absolute;
  top: 5px;
  left: 6px;
}

.form-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.form-container .form-left {
  width: auto;
  height: auto;
}

.form-container .form-right {
  width: 100%;
  height: auto;
}

.form-left .preview {
  width: 200px;
  height: auto;
  box-shadow: 0 0 3px 0 black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-bottom: 12px;
}

.form-left .preview img {
  width: 100%;
  height: 100%;
}

.form-left p {
  font-size: smaller;
}

.form-left input {
  width: 200px;
  height: auto;
  padding: 12px;
  border: none;
  outline: none;
  box-shadow: 0 0 3px 0 black;
  margin-top: 12px;
  margin-bottom: 7px;
  border-radius: 4px;
}

.inps {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.inp-grp {
  width: 31%;
  height: auto;
}

.inp-grp-4 {
  width: 23.2%;
  height: auto;
}

.form-container h4,
.form-container-bottom h4 {
  color: midnightblue;
}

.inp-grp input,
.inp-grp select,
.inp-grp-4 input,
.inp-grp-4 select {
  width: 100%;
  border: none;
  outline: none;
  height: auto;
  padding: 10px;
  box-shadow: 0 0 3px 0 black;
  margin-top: 8px;
  background: transparent;
  border-radius: 4px;
}

.inp-grp input:disabled,
.inp-grp-4 input:disabled {
  background-color: aliceblue;
}

.w-2 {
  width: 64%;
}

.form-container .form-right h2 {
  font-size: 22px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.form-container-bottom h2 {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 16px;
}

.add-row-btn {
  width: 100%;
  text-align: right;
}

.divider {
  width: 100%;
  border-bottom: 1px solid black;
  margin-top: 5px;
  margin-bottom: 12px;
}

.add-row-btn button {
  border: none;
  outline: none;
  background-color: limegreen;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 16px !important;
  margin-top: 20px;
  margin-left: 16px;
}

.add-row-btn button:hover {
  background-color: rgb(40, 173, 40);
}

.add-row-btn .arbtn {
  background: #007bff;
}

.add-row-btn .arbtn:hover {
  background-color: #0056b3;
}

.form-container-bottom .inps {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 16px auto;
  padding: 20px;
  box-shadow: 0 0 3px 0 black;
  border-radius: 5px;
}

.address {
  width: 64.5% !important;
}

.tablediv {
  width: 100% !important;
}

.tablediv table {
  width: 100% !important;
}

.tablediv table tbody {
  width: 100%;
}
