* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 10px; /* Controls the width of the scrollbar */
}

/* Target the scrollbar track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Target the scrollbar thumb (the draggable part) */
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Optional: On hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-image: url(./bgd.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  height: 100vh;
  display: flex;
  gap: 8px;
}

.page {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 10px solid white;
  padding-bottom: 10px;
  padding-right: 10px;
}

.page-content {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

.color-blue {
  color: blue;
}

.bg-red {
  background: rgb(233, 202, 202);
  background: linear-gradient(
    77deg,
    rgba(233, 202, 202, 1) 0%,
    rgba(231, 106, 106, 0.6924894957983193) 69%
  );
}

.bg-orange {
  background: rgb(236, 202, 128);
  background: linear-gradient(
    77deg,
    rgba(236, 202, 128, 1) 0%,
    rgba(231, 196, 106, 0.6924894957983193) 69%
  );
}

.bg-dark-red {
  background: rgb(230, 43, 69);
  background: linear-gradient(
    77deg,
    rgba(230, 43, 69, 0.7905287114845938) 53%,
    rgba(230, 68, 90, 0.7905287114845938) 78%
  );
}

.react-calendar {
  padding: 12px !important;
  border-radius: 4px !important;
}

.d-flex-3-1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.d-flex-3-1 .d-left {
  width: 70%;
  height: auto;
}

.d-flex-3-1 .d-right {
  width: 29%;
  height: auto;
}

.warning-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6;
  text-align: center;
  padding: 20px;
}

.warning-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: #374151;
}

.main-content {
  padding: 20px;
}

.no-events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  box-shadow: 0 0 1px 0 black;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.no-events-icon {
  font-size: 50px;
  color: #888;
  margin-bottom: 10px;
  animation: fadeIn 0.8s ease-in-out;
}

.no-events-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.no-events-text {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

/* Smooth fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
